*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header{
    display: flex;
    justify-content: space-between;
    height: 120px;
    background: #fff;
    box-shadow: 0 0 20px #000;
    padding: 30px;
    width: 100%;
}
header h1{
    color: #a7821c;
    font-size: 50px;
}
header span{
    color: #020113;
    font-size: 33px;
    position: relative;
    top: -4px;
}
.menu-header{
    list-style: none;
    width: 45%;
    margin-left: 55%;
    display: flex;
    position: absolute;
    z-index: 1;
    top: 0;
    right: 100%;
    gap: 3rem;
    text-align: end;
    flex-direction: column;
    background: #000000f1;
    height: 100%;
}
.menu-header li{
    margin-top: 100px;
    margin-right: 40px;
}
.menu-header li a{
    margin-top: 10px;
    text-decoration: none;
    color: #fff;
    font-size: 25px;
    cursor: pointer;
    transition: .6s;
}
.menu-header li a:hover{
    color: #faefd0;
    border-radius: 50px;
    text-shadow: 0 0 10px #a7821c, 0 0 50px #a7821c, 0 0 60px #a7821c;
    text-decoration: underline 1px #faefd0;
}
.active{
    left: 0;
}
.hamburguer{
    display: block;
    z-index: 2;
    cursor: pointer;
}
.barra{
    background: #a7821c;
    display: block;
    width: 3rem;
    height: .3rem;
    margin: .5rem auto;
    border-radius: 1px;
    transition: .7s;
}
#meio{
    transition: .2s;
}
.hamburguer.active .barra:first-child{
    transform: translateY(12px) rotate(360deg) rotate(45deg);
}
.hamburguer.active .barra:nth-child(2){
    opacity: 0;
}
.hamburguer.active .barra:last-child{
    transform: translateY(-12px) rotate(-360deg) rotate(-45deg);
}
main{
    display: flex;
    justify-content: space-between;
    background: #0F072B;
    color: #fff;
    height: 100vh;
    width: 100%;
    padding: 25px;
}
#texto{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 30px;
}
#texto h1{
    text-wrap: wrap;
    display: flex;
    justify-content: start;
    align-items: top;
    font-size: 6vh;
    margin: 20px;
}
#texto p{
    text-wrap: nowrap;
    animation: color 3s infinite;
    font-size: 2.5vh;
    margin-top: 15px;
    margin: 20px;
}
@keyframes color{
    0%{ color: #e6dbac;}
    50%{ color: #c49f39;}
    100%{ color: #e6dbac;}
}
#botao{
    margin: 80px;
    cursor: pointer;
}
#botao a{
    text-decoration: none;
    color: #fff;
    background: transparent;
    color: #00a2ff;
    border: solid 2px #00a2ff;
    border-radius: 5px;
    padding: 12px 24px;
    font-size: 20px;
    transition: 1s;
    box-shadow: 0 0 5px #00eeff, 0 0 10px #00a2ff;
    font-weight: 900;
}
#texto #botao a:hover{
    background: #00a2ff;
    color: #000;
    box-shadow: 0 0 10px #00a2ff, 0 0 20px #00a2ff, 0 0 40px #00eeff;
}
#imagem img{
   display: flex;
    justify-content: end;
    align-items: end;
    opacity: 1;
    width: 300px;
    margin: 80px;
    filter: invert(50%) brightness(50);
    animation: rotacao 4s infinite;
}
@keyframes rotacao{
    0%{
        transform: rotate(360deg);
    }
    100%{
        transform: rotate(0deg)
    }
}
@media(width < 900px){
    #texto h1{
        text-wrap: wrap;
        margin: 0;
        margin-bottom: 10px;
    }
    #texto p{
        margin: 0;
    }
    #botao a{
        margin: 0;
    }
    #imagem img{
        display: flex;
        margin: 0;
        opacity: 0;
        width: 0;
    }
}