*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header{
    display: flex;
    justify-content: space-between;
    height: 120px;
    background: #fff;
    box-shadow: 0 0 20px #000;
    padding: 30px;
}
header h1{
    color: #a7821c;
    font-size: 50px;
}
header span{
    color: #020113;
    font-size: 33px;
    position: relative;
    top: -4px;
}
.menu-header{
    list-style: none;
    width: 45%;
    margin-left: 55%;
    display: flex;
    position: absolute;
    z-index: 1;
    top: 0;
    right: 100%;
    gap: 3rem;
    text-align: end;
    flex-direction: column;
    background: #000000de;
    height: 100%;
}
.menu-header li{
    margin-top: 100px;
    margin-right: 40px;
}
.menu-header li a{
    margin-top: 10px;
    text-decoration: none;
    color: #fff;
    font-size: 25px;
    cursor: pointer;
    transition: .6s;
}
.menu-header li a:hover{
    color: #faefd0;
    border-radius: 50px;
    text-shadow: 0 0 10px #a7821c, 0 0 50px #a7821c, 0 0 60px #a7821c;
    text-decoration: underline 1px #faefd0;
}
.active{
    left: 0;
}
.hamburguer{
    display: block;
    z-index: 2;
    cursor: pointer;
}
.barra{
    background: #a7821c;
    display: block;
    width: 3rem;
    height: .3rem;
    margin: .5rem auto;
    border-radius: 1px;
    transition: .7s;
}
#meio{
    transition: .2s;
}
.hamburguer.active .barra:first-child{
    transform: translateY(12px) rotate(360deg) rotate(45deg);
}
.hamburguer.active .barra:nth-child(2){
    opacity: 0;
}
.hamburguer.active .barra:last-child{
    transform: translateY(-12px) rotate(-360deg) rotate(-45deg);
}
#conteudo {
    background: rgba(196, 194, 194, 0.568);
}
main{
    display:flex;
    flex-wrap: wrap;
    justify-content: space-around;
    text-align: center;
    color:white;
    padding: 20px;
}
#banner{
    width: 100%;
    height: auto;
    image-rendering: auto;
    display:flex;
    align-items: center;
    justify-content: center;

}
.suplemento{
    width: 200px;
    height: 400px;
    margin: 10px;
    padding: 10px;
    border: 1px solid #969696;
    border-radius: 10px;
    background: #080035;
    box-shadow: 5px 5px 5px #353438;
}
.info{
    width: 60%;
    padding: 10px 0px;
    border-radius: 10px;
}
#whey p{
    background: #8d0505;;
}
#beta p{
    background: #545394;
}
#creatina p{
    background: #34b80c;
}
img{
    width: 100%;
    height: 200px;
    margin-top: 10px;
}
button{
    display: flex;
    justify-content: center;
    font-weight: 700;
    margin-top: 10px;
    text-align: center;
    background: #a7821c;;
    margin-top: 15px;
    margin-left: 10px;
    padding: 15px 45px;
    border-radius: 10px;
    cursor: pointer;
    color: #0a0909;
    transition: .5s;
}
button:hover{
    transform: scale(1.02);
}
footer{
    background: #f7f7f7;
    color:#0e0c0c;
    padding: 10px 0;
    margin-top: auto;
}
.footer-content{
    display: flex;
    justify-content: space-around;
    max-width: 100%;
    margin-top: 0 auto;
}
.footer-content h3{
    margin-bottom: 30px;
}
.footer-content ul{
    list-style: none;
}
.footer-content li{
    margin-bottom: 5px;
}
.footer-content a{
    color:#020113;
    text-decoration: none;
    cursor: pointer;
}
.footer-content a:hover{
    color:rgba(204, 138, 17, 0.89);
}
footer p{
    justify-content: end;
    margin-top: 30px;
}
@media (max-width:800px){
 main{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
 }
 .footer-content{
    display: flex;
    text-align: center;
    flex-direction: column;
    max-width: 100%;
 }
}